@page "{id:int}"
@using System.Globalization
@model razor_pages.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-header bg-success text-white">
                    <h3>@Model.Product.Name</h3>
                </div>
                <div class="card-body">
                    <p class="fs-5">Mã sản phẩm: @Model.Product.Id</p>
                    <p class="fs-5">
                        Giá bán:<span>@Model.Product.Price.ToString()</span>
                    </p>
                    <p class="fs-5">Mô tả: @Model.Product.Description</p>
                    <p class="fs-5">Đã bán: @Model.Product.SoldQuantity</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-page="/Products/Index" class="btn btn-secondary">Quay lại danh sách</a>
                </div>
            </div>
        </div>
    </div>
</div>